.search-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.search-input {
  padding: 8px 15px;
  font-size: 15px;
  width: 250px;
  border-width: 0;
  background: khaki;
  color: #400479;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(82, 238, 212, 0.932);
}

.search-input::placeholder {
  color: rgb(68, 0, 255);
}

.search-input:focus {
  outline: none;
}
